{% extends 'company/company_layout.html' %}

{% block title %}
    Companies List
{% endblock %}

{% block content %}
    <main>
        <table>
            <tr>
                <th>Company Symbol</th>
                <th>Company Name</th>
                <th>Industry</th>
                <th>Company Volume</th>
                <th>Open</th>
                <th>Previous Close</th>
                <th>Day Low</th>
                <th>Day High</th>
                <th>Last Update</th>
            </tr>
            {% for company in page_obj|slice:":8" %}
                <tr>
                    <td style="width: 100px"> <a href="{% url 'companies:view_company' slug=company.company_symbol %}"> {{ company.company_symbol }} </a> </td>
                    <td style="width: 200px">{{ company.company_name }}</td>
                    <td style="width: 300px">{{ company.company_industry }}</td>
                    <td style="width: 120px">{{ company.company_volume }} </td>
                    <td style="width: 120px">{{ company.company_open }} </td>
                    <td style="width: 120px">{{ company.company_close }} </td>
                    <td style="width: 120px">{{ company.company_high }} </td>
                    <td style="width: 120px">{{ company.company_low }} </td>
                    <td style="width: 180px">{{ company.date }}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1"> First page |</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Previous page</a>
                {% endif %}

                <span class="current_page">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next page |</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Last page</a>
                {% endif %}
            </span>
        </div>
    </main>
{% endblock %}