{% extends 'layout.html' %}

{% block title %}
    About me
{% endblock %}

{% block main_page %}
    <h1>About me</h1>
    <p>I'm an Electronics Engineer with a Bachelor's degree from Kaunas University of Technology</p><br>
    <p>Throughout my years of studying I understood that I enjoy programing electronic devices more than
        making them which led me to the conclusion that programing overall is my passion which I have enjoyed
        doing since this discovery.</p><br>
    <p>My hobbies include: Table top games, making electronic devices/tinkering,
        making programs to make my life easier, playing with my two lovely dachshunds</p><br>
    <p>I am a team player and have been told numerous times I have qualities fit for a leader.
        I have the skills necessary to dedicate tasks efficiently and take responsibility when it is required. </p><br>
    <p>I am a strong worker and very persistent. During my Uni years I worked part-time as a food courier
        and have managed to save up enough money <br> for a down payment for a cottage house,
        this is one of the greatest achievements of my life and prove my endurance,
        patience and persistence. <br> I believe I can overcome any task given to me</p><br>
    <p>Check out my <a href="/">Home</a> page.</p>
    <div class="images-in-about-page">
        <img class="Luna" src="/static/images/Luna.jpg" alt="Luna">
        <img class="Meska" src="/static/images/Meska.jpg" alt="Meska">
    </div>
{% endblock %}
